# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# System files
.DS_Store

# Logs and temp files
*.log
